@import "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

header {
    background-image: linear-gradient(rgb(0, 89, 255), rgb(0, 204, 255));
    padding: 10px 0px;
}

nav {
    background-color: rgb(0, 195, 255);
    padding: 5px 0px;
    margin-bottom: 20px;
}

.titulos {
    color: white;
    text-shadow: 3px 2px 3px rgba(0, 0, 0, 0.527);
    font-family: sans-serif;
    text-align: center;
    margin-bottom: 10px;
}

.subtitulos {
    color: black;
    background-color: rgb(236, 236, 236);
    margin: 2px 2px;
    border-radius: 4px;
    font-family: sans-serif;
    text-align: center;
}

p {
    text-align: center;
}

.botoes {
    color: white;
    background-color: rgb(0, 84, 163);
    text-decoration: none;
    border-radius: 2px;
    margin: 10px;
    padding: 2px 5px;
}

.botao-discord {
    height: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*----------ESTILO PAGINA MAPAS------------*/

.header-mapas {
    text-align: center;
    font-family: sans-serif;
    background-image: linear-gradient(rgb(255, 45, 45), rgb(255, 109, 83));
}

.header-mapas h1 {
    color: white;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.336);
}

.nav-mapas {
    background-color: rgb(255, 102, 75);
    padding: 5px 0px;
}

.nav-mapas a {
    color: white;
    background-color: brown;
    text-decoration: none;
    border-radius: 2px;
    margin: 10px;
    padding: 2px 5px;
}

.main-mapas {
    font-family: sans-serif;
    text-align: justify;
    margin: 15px 5px;
    font-size: 10px;
}